* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

#stpage {
    background-image: url(./images/background.jpg);
}

#starter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#textglow {
    margin-bottom: 1rem;
    color: rgb(101, 73, 183);
    text-shadow:
        0 0 7px rgb(173, 122, 122),
        0 0 10px rgb(161, 120, 120),
        0 0 21px rgb(171, 128, 128),
        0 0 42px rgb(130, 179, 162),
        0 0 82px rgb(119, 178, 159),
        0 0 92px rgb(132, 202, 179),
        0 0 102px rgb(136, 187, 170),
        0 0 151px rgb(128, 185, 166);
}

#game {
    display: none;
    background-color: rgb(0, 0, 0);
    /* border:1px solid black; */
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow:
        0 0 14px #fff,
        0 0 14px #fff,
        0 0 14px #fff,
        0 0 14px #bc13fe,
        0 0 14px #bc13fe,
        0 0 14px #bc13fe,
        0 0 14px #bc13fe,
        0 0 14px #bc13fe;
    ;
    flex-wrap: wrap;
    padding: 0px;
}

#gamepage {
    display:none;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item {
    cursor:context-menu;
    color: white;
    font-size: 72px;
    text-align: center;
    box-shadow:
        0 0 7px #fff,
        0 0 7px #fff,
        0 0 7px #fff,
        0 0 7px #bc13fe,
        0 0 7px #bc13fe,
        0 0 7px #bc13fe,
        0 0 7px #bc13fe,
        0 0 7px #bc13fe;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe;
    ;
    border-radius: 5px;
    /* border: 1px solid black; */
    height: 100px;
    width: 100px;
}
#resultOfGame
{
    font-size: 72px;
    display:none;
    position:fixed;
    top:350px;
    color: rgb(101, 73, 183);
    text-shadow:
        0 0 7px rgb(173, 122, 122),
        0 0 10px rgb(161, 120, 120),
        0 0 21px rgb(171, 128, 128),
        0 0 42px rgb(130, 179, 162),
        0 0 82px rgb(119, 178, 159),
        0 0 92px rgb(132, 202, 179),
        0 0 102px rgb(136, 187, 170),
        0 0 151px rgb(128, 185, 166);
    left:120px;
}